body {
  margin-top: 3vh;
  background-color: chocolate;
  color: white;
}

table {
  text-align: center;
}

#board {
  max-width: 45vw;
  height: auto;
  font-size: 4vw;
  color: oldlace;
  border: 0.5vw solid saddlebrown;
}

.msgboard {
  font-size: 1.5vw;
  color: oldlace;
  background-color: #0004;
  border: 0.5vw solid saddlebrown;
}

#msgbox {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-left: 1vw;
  padding-right: 1vw;
}

#about {
  display: none;
}

ul {
  margin-top: 5vw;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: bold;
  font-size: larger;
}

.kuli1,
.kuli2 {
  display: block;
  background-color: #0004;
  border: 0.5vw solid saddlebrown;
}

.kuli1 span,
.kuli2 span {
  width: 7vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

.kuli1 p,
.kuli2 p {
  display: inline-block;
  width: 23vw;
  background-color: #0005;
  border-radius: 5vw;
  height: 7vw;
  border: 2px solid #0000;
}

#play1 {
  background-color: #1004;
  padding-left: 1vw;
  padding-right: 1vw;
}

#play2 {
  background-color: #0114;
  padding-left: 1vw;
  padding-right: 1vw;
}

#play1 .kuli3,
#play2 .kuli3 {
  background-color: #feea;
  color: #700;
}

.blocks {
  background-color: #fff5;
  color: #0008;
}

#board span {
  border-radius: 50%;
  display: inline-block;
  height: 7vw;
  cursor: pointer;
  border: 2px solid #0000;
}

center #board a {
  display: inline-block;
  height: auto;
}

.previousv {
  background-color: #500a;
}

.currentv {
  background-color: #0206;
}

.fas {
  display: inline-block;
  vertical-align: middle;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: fixed;
  top: 10px;
  left: 5px;
  opacity: 1;
  color: sienna;
  visibility: visible;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #fff;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    3.5px 3.5px 20px 0px rgba(0, 0, 0, 0.1), 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  line-height: 45px;
}

label #cancel {
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #btn {
  margin-left: 1vw;
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #cancel {
  position: fixed;
  top: 10px;
  left: 5px;
  opacity: 1;
  color: sienna;
  visibility: visible;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #fff;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    3.5px 3.5px 20px 0px rgba(0, 0, 0, 0.1), 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  line-height: 45px;
}

#check:checked ~ #playbutton {
  visibility: hidden;
}

#playbutton {
  cursor: pointer;
  font-size: 5vw;
  margin-bottom: 1vw;
}

#back {
  position: fixed;
  top: 70px;
  left: 5px;
  cursor: pointer;
  color: sienna;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #fff;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    3.5px 3.5px 20px 0px rgba(0, 0, 0, 0.1), 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  line-height: 45px;
  transition: 250ms;
}

h2 {
  margin-top: 5vh;
  text-align: center;
  padding-left: 15%;
  padding-right: 10%;
  width: 100vw;
  font-weight: bold;
}

#langbtn {
  font-size: 1.5vw;
}

#langbtn:hover {
  color: rgb(108, 53, 27);
}

.player {
  font-size: 1vw;
  margin: 0;
}

.initial {
  background-color: #0004;
}
